body{
	background-color: rgb(32,32,32);
}



.left{
	background-color: rgb(41, 41, 10);
	width: 50%;
	height: 500px;
	float:left;
	text-align: center;
	margin-top: 25px;
}

.left h1{
	padding-top: 21%;
}

.right{
	background-color: rgb(51, 0, 51);
	width: 50%;
	height: 500px;
	float:right;
	text-align: center;
	margin-top: 25px;
}

.right h1{
	padding-top: 21%;
}

button{

	height:70px;
    width:160px;
    background-color: rgb(32,32,32);
    color: rgb(255, 102, 0);
    font-size: 20px;
}


